<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Attendance</h1>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <a class="btn btn-primary" [routerLink]="['take']">Take Attendance</a>
          </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Employees Attendance
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table>
              <tr>
                <th><span>Name</span></th>
                <th><span>Emp Code</span></th>
                <th>01 <span>SU</span></th>
                <th>02 <span>MO</span></th>
                <th>03 <span>TU</span></th>
                <th>04 <span>WE</span></th>
                <th>05 <span>TH</span></th>
                <th>06 <span>FR</span></th>
                <th>07 <span>SA</span></th>
              </tr>
              <tr>
                <td>546</td>
                <td>224</td>
                <td>890</td>
                <td>890</td>
                <td>890</td>
                <td>880</td>
                <td>323</td>
                <td>323</td>
                <td>323</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>